body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: pink;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heart-container h1 {
    color: red;
    font-size: 2.5rem;
    display: block;
  }
 
  .heart-container h2 {
    color: red;
    font-size: 1.5rem;
    display: block;
  }
 